<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PizzaWeatherApp</title>

  <!-- Bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <!-- FontAwesome -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/71dfc51b7d.js" crossorigin="anonymous"></script>

  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <!-- Custom CSS -->
  <link href="../static/css/styles.css" rel="stylesheet">

  <!-- Custom JS -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/css/bootstrap-toggle.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/js/bootstrap-toggle.js"></script>

</head>

<body class="d-flex flex-column">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/"><i class="fas fa-pizza-slice"></i> Pizza WeatherApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item page-nav home active">
            <a class="nav-link">Home</a>
          </li>
          <li class="nav-item page-nav about non-active">
            <a class="nav-link">About</a>
          </li>
          <li class="nav-item page-nav usage non-active">
            <a class="nav-link">Usage</a>
          </li>
          <li class="nav-item page-nav settings non-active">
            <a class="nav-link">Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="page-content" class="page-container home">
    <div class="container text-center">
      <div id="titleCard" class="row justify-content-center">
        <div class="col-md-7">
          <h1 id="titleCard-title" class="font-weight-light mt-4">A Pizza WeatherApp</h1>
          <p id="titleCard-desc" class="lead">Freshly baked weather data! Just don't eat it all at once...</p>
        </div>
      </div>
      <br />
      <div id="searchBar" class="row justify-content-center">
        <div class="col-12 col-lg-12">
          <form id="searchForm" class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
              <div class="col-auto">
                <i class="fas fa-search h4 text-body"></i>
              </div>
              <div class="col">
                <input id="searchInput" class="form-control form-control-lg form-control-borderless" type="search"
                  placeholder="Zip Code or Location">
              </div>
              <div class="col-auto locate">
                <button id="locateButton" class="btn btn-lg btn-link"><i class="fas fa-location-arrow"></i></button>
              </div>
              <div class="col-auto search">
                <button id="searchButton" class="btn btn-lg btn-secondary" type="submit">Go!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <br>
      <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"><strong
          id="alert"></strong><span id="msg"></span></div>
      <div id="warningAlert" class="alert alert-warning" role="alert" style="display:none;"><strong
          id="alert"></strong><span id="msg"></span></div>
      <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"><strong
          id="alert"></strong><span id="msg"></span></div>
      <div id="moreCard" class="card weather-card" style="display:none;">
        <div class="card-header font-weight-bold" id="simple-location" style="font-size: 2em; text-align: center;">
        </div>
        <div class="card-body pb-3">
          <h4 class="card-title font-weight-bold" style="font-size: 2em;">
            <div style="display: inline-block; height: 100%">
              <img id="simple-weather-icon" src=""
                style="  -webkit-filter: brightness(90%); /* Safari 6.0 - 9.0 */ filter: brightness(90%);">
            </div>
            <div style="display: inline-block; text-align: left; vertical-align: bottom;">
              <span id="simple-temp">0&deg;F</span>

              <p id="simple-weather-description" style="font-weight: normal; font-size: 1rem; "></p>
            </div>

          </h4>

          <div class="d-flex justify-content-between">
            <p id="info-temp">
              <i class="fas fa-thermometer-half fa-lg pr-2"></i>
              <span id="simple-temp-average">32&deg;F</span>
              <span class="info-label" id="info-label-temp" style="padding-left:1em;">Average Temperature</span>
            </p>
            <p id="info-cloud">
              <span class="info-label" id="info-label-cloud" style="padding-right:1em;">Cloud Cover</span>
              <i class="fas fa-cloud fa-lg"></i>
              <span id="simple-cloud-cover">10</span>
            </p>
          </div>
          <div class="d-flex justify-content-between">
            <p id="info-precipitation">
              <i class="fas fa-tint fa-lg pr-2"></i>
              <span id="simple-precipitation">3</span>
              <span class="info-label" id="info-label-precipitation" style="padding-left:1em;">Precipitation</span>
            </p>
            <p id="info-wind">
              <span class="info-label" id="info-label-wind" style="padding-right:1em;">Wind Speed</span>
              <i class="fas fa-wind fa-lg grey-text pr-2"></i>
              <span id="simple-wind-speed">21</span>
            </p>
          </div>
          <div class="d-flex justify-content-between mb-4">
            <p id="info-uv">
              <i class="fas fa-umbrella-beach fa-lg pr-2"></i>
              <span id="simple-uv-index">2</span>
              <span class="info-label" id="info-label-uv" style="padding-left:1em;">UV Index</span>
            </p>
            <p id="info-humidity">
              <span class="info-label" id="info-label-humidity" style="padding-right:1em;">Humidity</span>
              <i class="fas fa-percent fa-lg pr-2"></i>
              <span id="simple-humidity">68</span>
            </p>
          </div>
          <hr id="radar-divider" class="" style="display: None;">
          <div class="collapse-content">
            <div class="collapse" id="collapseExample">
              <div class="container">
                <div class="row grid-divider">
                  <div class="col-sm content-left">
                    <div id="card-left" class="card left" style="height:100%; min-width: 300px;">
                      <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                          <li class="nav-item">
                            <a id="card-left-nav-tab-weather" class="nav-link card-nav left active">Weather</a>
                          </li>
                          <li class="nav-item">
                            <a id="card-left-nav-tab-datetime" class="nav-link card-nav left non-active">Datetime</a>
                          </li>
                        </ul>
                      </div>
                      <div class="card-body pb-3">
                        <div id="card-left-weather" class="card-contents left weather">
                          <h4 class="card-title font-weight-bold" style="font-size: 1.5em;"> Weather Information</h4>
                          <hr class="">
                          <p class="card-text">Weather: <span id="desc-weather">None</span></p>
                          <p class="card-text">Description: <span id="desc-weather-description">None</span></p>
                          <p class="card-text">Temperature Current: <span id="desc-temp">0</span></p>
                          <p class="card-text">Temperature Average: <span id="desc-temp-average">0</span></p>
                          <p class="card-text">Temperature High: <span id="desc-temp-high">0</span></p>
                          <p class="card-text">Temperature Low: <span id="desc-temp-low">0</span></p>
                          <p class="card-text">Wind Direction: <span id="desc-wind-direction">0</span></p>
                          <p class="card-text">Wind Speed: <span id="desc-wind-speed">0</span></p>
                          <p class="card-text">Precipitation: <span id="desc-precipitation">0</span></p>
                          <p class="card-text">Cloud Cover: <span id="desc-cloud-cover">0</span></p>
                          <p class="card-text">Humidity: <span id="desc-humidity">0</span></p>
                          <p class="card-text">UV Index: <span id="desc-uv-index">0</span></p>
                        </div>
                        <div id="card-left-datetime" class="card-contents left datetime" style="display: none;">
                          <h4 class="card-title font-weight-bold" style="font-size: 1.5em;">Datetime Information</h4>
                          <hr class="">
                          <p class="card-text">Last Updated: <span id="desc-dt-updated">None</span></p>
                          <p class="card-text">Local Date: <span id="desc-dt-date">None</span></p>
                          <p class="card-text">Local Time: <span id="desc-dt-time">None</span></p>
                          <p class="card-text">Sunrise: <span id="desc-dt-sunrise">None</span></p>
                          <p class="card-text">Sunset: <span id="desc-dt-sunset">None</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div id="card-right" class="card right" style="height:100%; min-width: 300px;">
                      <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                          <li class="nav-item">
                            <a id="card-right-nav-tab-radar" class="nav-link card-nav right active">Radar</a>
                          </li>
                          <li class="nav-item">
                            <a id="card-right-nav-tab-location" class="nav-link card-nav right non-active">Location</a>
                          </li>
                        </ul>
                      </div>
                      <div class="card-body pb-3">
                        <div id="card-right-radar" class="card-contents right radar">
                          <h4 class="card-title font-weight-bold" style="font-size: 1.5em;">Radar Image</h4>
                          <hr class="">
                          <div class="radar-image">
                            <img class="base base" src="" src="" alt="img">
                            <img class="layer precipitation" style="display: none;" src="" alt="">
                            <img class="layer temperature" style="display: none;" src="" alt="">
                            <img class="layer pressure" style="display: none;" src="" alt="">
                            <img class="layer clouds" style="display: none;" src="" alt="">
                            <img class="layer wind" style="display: none;" src="" alt="">
                          </div>
                          <hr class="">
                          <button class="btn btn-default btn-block radar-button" type="button">Precipitation</button>
                          <button class="btn btn-default btn-block radar-button" type="button">Temperature</button>
                          <button class="btn btn-default btn-block radar-button" type="button">Pressure</button>
                          <button class="btn btn-default btn-block radar-button" type="button">Clouds</button>
                          <button class="btn btn-default btn-block radar-button" type="button">Wind</button>
                          <button class="btn btn-default btn-block radar-button" type="button">None</button>
                        </div>
                        <div id="card-right-location" class="card-contents right location" style="display: none;">
                          <h4 class="card-title font-weight-bold" style="font-size: 1.5em;">Location Information</h4>
                          <hr class="">
                          <p class="card-text">Lat: <span id="radar-lat">None</span></p>
                          <p class="card-text">Lon: <span id="radar-lon">None</span></p>
                          <p class="card-text">City: <span id="radar-city">None</span></p>
                          <p class="card-text">Region: <span id="radar-region">None</span></p>
                          <p class="card-text">Country: <span id="radar-country">None</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="">
          <button id="revealRadar" class="btn btn-secondary btn-block" type="button" data-toggle="collapse"
            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">More</button>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div id="page-content" class="page-container about" style="display: none;">
    <div class="container text-center">
      <div id="titleCard" class="row justify-content-center">
        <div class="col-md-7">
          <h1 id="titleCard-title" class="font-weight-light mt-4">A Pizza WeatherApp</h1>
          <p id="titleCard-desc" class="lead">Freshly baked weather data! Just don't eat it all at once...</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card" style="margin:20px 0">
        <div class="card-header" style="font-size: 1.5em; text-align: center;">About Pizza WeatherApp</div>
        <div class="card-body pb-3">
          <p class="card-text font-weight-bold" style="text-align: center;">Why Pizza?</p>
          <p class="card-text">
            &emsp; So, when first using 'Pizza WeatherApp', usually the first
            question I get is 'why pizza?'. Well, I hope you aren't exited for some really cool, epic backstory,
            because I would be disappointing you. While at harper college, I was a part of a team in CIS216 and our
            team name was 'Team Pizza'. I couldn't come up with a name for this app, so it only seemed logical to name
            it 'Pizza WeatherApp' after my programming team. There, now you can stop asking me!
          </p>
          <br>
          <hr class="">
          <p class="card-text font-weight-bold" style="text-align: center;">API's</p>
          <p class="card-text">
            &emsp; This application was made as an object oriented programming project focusing on linking a back end
            python program to a front end, in this case, a web based front end.
            This whole project is made possible thanks to the following free to use API's.
          </p>
          <p style="text-align: center;">
            <a href="https://openweathermap.org/" target="_blank">OpenWeatherMap</a><br>
            <a href="https://developer.mapquest.com/documentation/open/geocoding-api/" target="_blank">MapQuest
              Developer Geolocation API</a>
          </p>
          <br>
          <hr class="">
          <p class="card-text font-weight-bold" style="text-align: center;">Sources Used</p>
          <p style="text-align: center;">
            <a href="https://openweathermap.org/" target="_blank">OpenWeatherMap</a><br>
            <a href="https://developer.mapquest.com/documentation/open/geocoding-api/" target="_blank">MapQuest
              Developer Geolocation API</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="page-content" class="page-container usage" style="display: none;">
    <div class="container text-center">
      <div id="titleCard" class="row justify-content-center">
        <div class="col-md-7">
          <h1 id="titleCard-title" class="font-weight-light mt-4">A Pizza WeatherApp</h1>
          <p id="titleCard-desc" class="lead">Freshly baked weather data! Just don't eat it all at once...</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card" style="margin:20px 0">
        <div class="card-header" style="font-size: 1.5em; text-align: center;">Using Pizza WeatherApp</div>
        <div class="card-body pb-3">
          <p class="card-text font-weight-bold" style="text-align: center;">Input Format</p>
          <p class="card-text">
            &emsp; The web page that you are looking at is simply a front end to a homemade weather and location API
            module, but I made sure that there were a few different ways to enter your data
            so that, hopefully, I can make everyone happy. Here is a list of the possible formats.
          </p>
          <br>
          <div class="container">
            <div class="row grid-divider">
              <div class="col-sm content-left">
                <div id="card-left" class="card left" style="height:100%; min-width: 300px;">
                  <div class="card-body pb-3">
                    <div>
                      <h4 class="card-title font-weight-bold" style="font-size: 1em;">Valid Input Formats</h4>
                      <hr class="">
                      <p class="card-text">
                        National (US)
                      </p>
                      <ul>
                        <li>[Zip Code]</li>
                        <li>[City, State (Abb)]</li>
                        <li>[City, State (Full)]</li>
                        <li>[City, Country (Abb)]</li>
                        <li>[City, Country (Full)]</li>
                      </ul>
                      <p class="card-text">
                        International
                      </p>
                      <ul>
                        <li>[City, Country (Abb)]</li>
                        <li>[City, Country (Full)]</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div id="card-right" class="card right" style="height:100%; min-width: 300px;">
                  <div class="card-body pb-3">
                    <div>
                      <h4 class="card-title font-weight-bold" style="font-size: 1em;">Valid Input Examples</h4>
                      <hr class="">
                      <p class="card-text">
                        National (US)
                      </p>
                      <ul>
                        <li>60604</li>
                        <li>Chicago, IL</li>
                        <li>Chicago, Illinois</li>
                        <li>Chicago, US</li>
                        <li>Chicago, United States of America</li>
                      </ul>
                      <p class="card-text">
                        International
                      </p>
                      <ul>
                        <li>Paris, FR</li>
                        <li>Paris, France</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="page-content" class="page-container settings" style="display: none;">
    <div class="container text-center">
      <div id="titleCard" class="row justify-content-center">
        <div class="col-md-7">
          <h1 id="titleCard-title" class="font-weight-light mt-4">A Pizza WeatherApp</h1>
          <p id="titleCard-desc" class="lead">Freshly baked weather data! Just don't eat it all at once...</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card" style="margin:20px 0">
        <div class="card-header" style="font-size: 1.5em; text-align: center;">Settings</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span style="display: inline-block; padding-top: 10px; padding-bottom: 10px;">Display data in Metric</span>
            <label class="switch ">
              <input id="slider-metric" type="checkbox" class="primary">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item">
            <span style="display: inline-block; padding-top: 10px; padding-bottom: 10px;">Allow the use of
              Cookies</span>
            <label class="switch ">
              <input id="slider-cookies" type="checkbox" class="primary" checked>
              <span class="slider round"></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <footer id="sticky-footer" class="py-3 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; PizzaWeatherApp</small>
    </div>
  </footer>
</body>

</html>